.idea
venv
src/image
*.h5
*.npz
*.zip
src/*.txt
src/test
src/__pycache__
src/Counting
src/exc
src/Label_img
src/model
src/weight
src/*/*.cvs
*.jpg
src/dectect_face/align_mtcnn
src/dectect_face/models
src/dectect_face/__pycache__
src/dectect_face/utils/__pycache__git 
src/face_verification/*.xml
src/face_verification/xmls
src/models
src/*.rar
src/*.csv
